.App{
  margin: 0px;
  padding: 0px;
  background-color: #C3073F;
}
.navbar{
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: #1A1A1D;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.navbarspan {
  color: #C3073F;
  font-family: cursive;
}
.navbarh1{
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  font-size: 40px;
}
.navbarinnerdiv{
  margin-left: 700px;
}
.navbarinput{
  margin: 10px;
  padding: 8px 30px;
  border: #C3073F 3px solid;
  border-radius: 20px;
  margin-right: 0px;
}
.navbarLink{
  background-color: #090909;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  outline: 2px solid #C3073F;
  padding: 5px 20px;
  overflow: hidden;
  transition: color 0.2s;
  font-size: 15px;
  border-radius: 15px;
  margin-left: 8px;

}
.navbarLink:hover{
  color: #090909;
  background-color: #C3073F;
  box-shadow: 0 0 5px #C3073F, 0 0 15px #C3073F,
  0 0 30px #C3073F;
}
.FrameOuter{
  border: transparent 0px solid;
  margin-left: 45px;
}
.Frame{
  background-color: #090909;
  border: #6F2232 5px solid;
  border-radius: 20px;
  box-shadow: #4E4E50 0px 5px 10px 4px;
  margin:25px;
  width: 250px;
  height: 500px;
  display: inline-block;
}
.listImage{
    width: 250px;
    height:240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.framecontent{
  margin: 0px;
  padding: 0px;
}
.listLabel{
  font-family: cursive;
  font-size: 15px;
}
table{
  color: #a7a6a6;
}
th{
  padding: 4px;
  font-size: 100%;
}
.AnimeDetails{
  display: flex;
}
.detailsImage{
  margin: 16px 30px 10px 10px;
  height: 560px;
  width:400px;
  border: #4E4E50 5px solid;
  box-shadow: #090909 0px 5px 10px 4px;
}
.details{
  margin: auto;
}
.FrameContentDetails{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name{
  font-size: 25px;
  font-family: serif;
}
.innerdivitem{
  background-color: #090909;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  outline: 2px solid #C3073F;
  padding: 10px 30px;
  overflow: hidden;
  transition: color 0.2s;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 8px;
}
.details{
  width: 900px;
  font-style: italic;
  font-family: cursive;
}
label{
  color: #a7a6a6;
}
#detailsdiva{
  color: #090909;
  text-decoration: none;
}
.innerdiv{
  display: flex;;
  justify-content: center;
  padding: 15px;
}















.loader{
  width: 150px;
  height: 150px;
  border-left: 6px black dashed;
  border-top: 6px black dashed;
  border-radius: 50%;
  margin: 20px auto;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
